In [1]:
from config import config
import pandas as pd
import redcap

### Importing the data and familiarizing with data format

In [2]:
project = redcap.Project(config['api_url'], config["api_token"])

In [51]:
%%time
all_data = project.export_records(format="df", raw_or_label='label', export_checkbox_labels=True)
all_data.tail(2)

C:\Users\AXG5303\Miniconda3\envs\transform21\lib\site-packages\IPython\core\magics\execution.py:1321: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,11,12,14,15,16,17,18,19,20,23,24,25,26,27,28,29,30,31,32,33,34,36,41,42,50,56,57,58,60,61,62,63,64,66,67,68,69,71,72,73,74,84,90,91,92,93,94,95,96,97,98,99,100,101,102,103,105,106,107,108,109,110,111,112,114,115,131,132,133,134,135,144,146,151,152,153,154,155,160,162,164,165,166,168,171,172,173,175,176,177,178,179,180,181,183,185,187,189,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code, glob, local_ns)

Wall time: 30.4 s

,date_submitted,reporting_lhj,reporting_lhj_other_specify,lhj_contact_name,lhj_contact_phoneemail,reporting_criteria___1,reporting_criteria___2,reporting_criteria___3,reporting_criteria___4,criteria_count,...,sp_ship_phl,sp_ship_notes,sp_sent_seq,sp_seq_facility,sp_seq_facility_other,sp_seq_send_date,sp_seq_outcome,sp_gisaid_id,sp_seq_notes,sp_specimen_roster_notes
record_id,,,,,,,,,,,,,,,,,,,,,
103362826,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103362829,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
#info if interested
all_data.info(verbose = True, show_counts = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33328 entries, 100868367 to 103362829
Data columns (total 206 columns):
 #    Column                        Non-Null Count  Dtype
---   ------                        --------------  -----
 0    date_submitted                13382 non-null  object
 1    reporting_lhj                 4720 non-null   object
 2    reporting_lhj_other_specify   3 non-null      object
 3    lhj_contact_name              9931 non-null   object
 4    lhj_contact_phoneemail        2623 non-null   object
 5    reporting_criteria___1        2823 non-null   object
 6    reporting_criteria___2        2823 non-null   object
 7    reporting_criteria___3        2816 non-null   object
 8    reporting_criteria___4        2822 non-null   object
 9    criteria_count                33328 non-null  int64
 10   case_interview_date           2193 non-null   object
 11   wdrs_id_available             3110 non-null   object
 12   wdrs_id                       2987 non-null   float64
 13   crest_id                      1266 non-null   object
 14   pt_fname                      2625 non-null   object
 15   pt_lname                      2625 non-null   object
 16   pt_dob                        2678 non-null   object
 17   first_vaccine_date            2225 non-null   object
 18   second_vaccine_date           2211 non-null   object
 19   vaccine_type                  2431 non-null   object
 20   vaccine_type_other            0 non-null      float64
 21   waiis_id                      2045 non-null   float64
 22   test_method                   2601 non-null   object
 23   performing_lab                2442 non-null   object
 24   lab_location                  1707 non-null   object
 25   specimen_collection_date      2522 non-null   object
 26   hospitalized                  6 non-null      object
 27   icu                           6 non-null      object
 28   symptoms                      7 non-null      object
 29   outbreak                      2189 non-null   object
 30   test_reason                   1643 non-null   object
 31   notes                         816 non-null    object
 32   ci_investigator               11961 non-null  object
 33   ci_add_review_needed          11 non-null     object
 34   ci_wdrs_id                    33301 non-null  float64
 35   ci_crest_id                   1132 non-null   object
 36   ci_first_name                 33328 non-null  object
 37   ci_last_name                  33328 non-null  object
 38   ci_dob                        33328 non-null  object
 39   ci_accountable_county         33315 non-null  object
 40   ci_accountable_county_other   1 non-null      object
 41   ci_tribal_affiliation         8 non-null      object
 42   ci_waiis_id                   33185 non-null  float64
 43   ci_datediff_vaccine           28174 non-null  float64
 44   ci_first_vaccine_date         33328 non-null  object
 45   ci_first_vaccine_type         33328 non-null  object
 46   ci_first_vx_type_oth          0 non-null      float64
 47   ci_first_lotnumber            33325 non-null  object
 48   ci_first_facility             33298 non-null  object
 49   ci_historicdose1              5 non-null      object
 50   ci_second_vaccine_date        28174 non-null  object
 51   ci_second_vaccine_type        28086 non-null  object
 52   ci_second_vx_type_oth         0 non-null      float64
 53   ci_second_lotnumber           28134 non-null  object
 54   ci_second_facility            28100 non-null  object
 55   ci_historicdose2              6 non-null      object
 56   ci_third_vaccine_date         12 non-null     object
 57   ci_third_vaccine_type         12 non-null     object
 58   ci_third_vx_type_oth          0 non-null      float64
 59   ci_third_lotnumber            8 non-null      object
 60   ci_third_facility             10 non-null     object
 61   ci_fourth_vaccine_date        5 non-null      object
 62   ci_historicdose3              4 non-null      object
 63   ci_fourth_vaccine_type        5 non-null      object
 64   ci_fourth_vx_type_oth         0 non-null      float64
 65   ci_fourth_lotnumber           4 non-null      object
 66   ci_fourth_facility            5 non-null      object
 67   ci_historicdose4              1 non-null      object
 68   ci_waiis_missing_flag         30 non-null     object
 69   ci_vaccine_source___1         33080 non-null  object
 70   ci_vaccine_source___2         55 non-null     object
 71   ci_vaccine_source___3         19 non-null     object
 72   ci_vaccine_source___4         30 non-null     object
 73   ci_vaccine_source_4_specify   29 non-null     object
 74   ci_test_method                33108 non-null  object
 75   ci_sp_coll_date               33172 non-null  object
 76   ci_jj_test_interval           33172 non-null  float64
 77   ci_2dose_test_interval        28018 non-null  float64
 78   ci_wa_resident                32985 non-null  object
 79   ci_full_dose                  33148 non-null  object
 80   ci_pcr_pos                    33137 non-null  object
 81   ci_14days                     33122 non-null  object
 82   ci_45days                     33035 non-null  object
 83   ci_earliestpositivedate       339 non-null    object
 84   ci_datediff                   0 non-null      float64
 85   ci_case_classification        33328 non-null  object
 86   ci_wdrs_documentation         33328 non-null  object
 87   ci_14th_date                  28174 non-null  object
 88   ci_45th_date                  33172 non-null  object
 89   ci_needtoupdatecdcreport___1  47 non-null     object
 90   ci_needtoupdatecdcreport___2  29 non-null     object
 91   ci_needtoupdatecdcreport___3  16 non-null     object
 92   ci_interviewedbydohcict       2 non-null      object
 93   ci_sent_reporting_redcap      754 non-null    object
 94   ci_cdc_id                     2565 non-null   object
 95   ci_sex                        134 non-null    object
 96   ci_race___1                   7 non-null      object
 97   ci_race___2                   6 non-null      object
 98   ci_race___3                   4 non-null      object
 99   ci_race___4                   2 non-null      object
 100  ci_race___5                   44 non-null     object
 101  ci_race___6                   25 non-null     object
 102  ci_race___7                   2 non-null      object
 103  ci_age                        33172 non-null  float64
 104  ci_ethnicity                  84 non-null     object
 105  ci_ltcf                       292 non-null    object
 106  ci_ltcf_res_emp               192 non-null    object
 107  ci_ltcf_name                  191 non-null    object
 108  ci_nhcs_res_emp               3 non-null      object
 109  ci_nhcs_name                  3 non-null      object
 110  ci_outbreak                   1845 non-null   object
 111  ci_outbreak_name              66 non-null     object
 112  ci_outbreak_id                110 non-null    float64
 113  ci_symptoms                   156 non-null    object
 114  ci_sx_onset                   26 non-null     object
 115  ci_fever                      0 non-null      float64
 116  ci_chills                     0 non-null      float64
 117  ci_myalgia                    0 non-null      float64
 118  ci_headache                   0 non-null      float64
 119  ci_sore_throat                0 non-null      float64
 120  ci_nausea                     0 non-null      float64
 121  ci_vomiting                   0 non-null      float64
 122  ci_diarrhea                   0 non-null      float64
 123  ci_fatigue                    0 non-null      float64
 124  ci_runny_nose                 0 non-null      float64
 125  ci_cough                      0 non-null      float64
 126  ci_sob                        0 non-null      float64
 127  ci_dyspnea                    0 non-null      float64
 128  ci_dysgeusia                  0 non-null      float64
 129  ci_anosmia                    0 non-null      float64
 130  ci_hospitalized               146 non-null    object
 131  ci_icu                        35 non-null     object
 132  ci_died                       71 non-null     object
 133  ci_reinfection                25 non-null     object
 134  ci_reinf_wdrs_id              1 non-null      object
 135  ci_underlying                 0 non-null      float64
 136  ci_pregnant                   0 non-null      float64
 137  ci_diabetes                   0 non-null      float64
 138  ci_ch_kidney_dz               0 non-null      float64
 139  ci_ch_liver_dz                0 non-null      float64
 140  ci_autoimmune                 0 non-null      float64
 141  ci_immunocompromised          0 non-null      float64
 142  ci_immuno_therapy_meds        0 non-null      float64
 143  ci_notes                      737 non-null    object
 144  ci_roster_import_notes        22360 non-null  object
 145  ci_dedup_notes                411 non-null    object
 146  ci_identifiedbylinkage___1    32320 non-null  object
 147  ci_linkage_metrics___1        0 non-null      float64
 148  ci_linkage_metrics___2        0 non-null      float64
 149  sp_10th_date                  33172 non-null  object
 150  sp_next_steps                 236 non-null    object
 151  sp_next_steps_notes           2644 non-null   object
 152  sp_test_method                2620 non-null   object
 153  sp_lab_based_test             42 non-null     object
 154  sp_sp_type                    743 non-null    object
 155  sp_performing_lab             31909 non-null  object
 156  sp_lab_location               17164 non-null  object
 157  sp_coll_dt                    32991 non-null  object
 158  sp_accession_no               27091 non-null  object
 159  sp_overall_ct                 3437 non-null   object
 160  sp_ct_value_1                 559 non-null    float64
 161  sp_ct_target_1                233 non-null    object
 162  sp_ct_value_2                 348 non-null    float64
 163  sp_ct_target_2                219 non-null    object
 164  sp_ct_value_3                 86 non-null     object
 165  sp_ct_target_3                86 non-null     object
 166  sp_ct_value_4                 12 non-null     float64
 167  sp_ct_target_4                12 non-null     object
 168  sp_ct_value_5                 0 non-null      float64
 169  sp_ct_target_5                0 non-null      float64
 170  sp_status                     4417 non-null   object
 171  sp_held                       17 non-null     object
 172  sp_holding_lab                8 non-null      object
 173  sp_held_date                  0 non-null      float64
 174  sp_hold_notes                 6 non-null      object
 175  sp_38_notes                   9 non-null      object
 176  sp_sp_available               57 non-null     object
 177  sp_within_10_days             11 non-null     object
 178  sp_lhj_recollect              33 non-null     object
 179  sp_waphl_accession_no         158 non-null    object
 180  sp_retest_overall_ct          15 non-null     object
 181  sp_retest_ct_value_1          15 non-null     float64
 182  sp_retest_ct_target_1         14 non-null     object
 183  sp_retest_ct_value_2          14 non-null     float64
 184  sp_retest_ct_target_2         14 non-null     object
 185  sp_retest_ct_value_3          6 non-null      float64
 186  sp_retest_ct_target_3         6 non-null      object
 187  sp_retest_ct_value_4          1 non-null      float64
 188  sp_retest_ct_target_4         1 non-null      object
 189  sp_retest_ct_value_5          0 non-null      float64
 190  sp_retest_ct_target_5         0 non-null      float64
 191  sp_recoll_notes               2 non-null      object
 192  sp_eligible_seq               2879 non-null   object
 193  sp_ineligible_reason___1      357 non-null    object
 194  sp_ineligible_reason___2      40 non-null     object
 195  sp_ineligible_reason___3      35 non-null     object
 196  sp_ship_phl                   184 non-null    object
 197  sp_ship_notes                 14 non-null     object
 198  sp_sent_seq                   198 non-null    object
 199  sp_seq_facility               178 non-null    object
 200  sp_seq_facility_other         16 non-null     object
 201  sp_seq_send_date              38 non-null     object
 202  sp_seq_outcome                51 non-null     object
 203  sp_gisaid_id                  21 non-null     object
 204  sp_seq_notes                  494 non-null    object
 205  sp_specimen_roster_notes      35 non-null     object
dtypes: float64(52), int64(1), object(153)
memory usage: 52.6+ MB

In [5]:
#project unique key
project.def_field

'record_id'

In [6]:
#differences between field_names and columns of imported data, why?
field_names_set = set(project.field_names)
columns_set = set(all_data.columns)

field_names_set -  columns_set

{'ci_case_notification',
 'ci_identifiedbylinkage',
 'ci_linkage_metrics',
 'ci_needtoupdatecdcreport',
 'ci_race',
 'ci_symptom_table',
 'ci_underlying_table',
 'ci_vaccine_source',
 'ci_vaccines',
 'ci_vaccines_extraneous',
 'record_id',
 'reporting_criteria',
 'sp_ct_table',
 'sp_ineligible_reason',
 'sp_retest_ct_table'}

In [7]:
columns_set - field_names_set

{'ci_identifiedbylinkage___1',
 'ci_linkage_metrics___1',
 'ci_linkage_metrics___2',
 'ci_needtoupdatecdcreport___1',
 'ci_needtoupdatecdcreport___2',
 'ci_needtoupdatecdcreport___3',
 'ci_race___1',
 'ci_race___2',
 'ci_race___3',
 'ci_race___4',
 'ci_race___5',
 'ci_race___6',
 'ci_race___7',
 'ci_vaccine_source___1',
 'ci_vaccine_source___2',
 'ci_vaccine_source___3',
 'ci_vaccine_source___4',
 'reporting_criteria___1',
 'reporting_criteria___2',
 'reporting_criteria___3',
 'reporting_criteria___4',
 'sp_ineligible_reason___1',
 'sp_ineligible_reason___2',
 'sp_ineligible_reason___3'}

In [9]:
project.forms

('specimen_tracking_covid19_vaccine_breakthrough_cas',
 'doh_vaccine_breakthrough_case_investigation',
 'covid_vaccine_breakthrough_case_report')

# Attempting to load dataframe with data dictionary declared

In [44]:
clms_list = list(all_data)
dtype_list = [all_data[i].dtype.name for i in all_data]

data_dict = dict(zip(clms_list, dtype_list))

In [39]:
project = redcap.Project(config['api_url'], config["api_token"])

In [50]:
%%time
all_data = project.export_records(format="df", df_kwargs = {"dtype":data_dict})
all_data.tail(2)

Wall time: 25.7 s

,record_id,date_submitted,reporting_lhj,reporting_lhj_other_specify,lhj_contact_name,lhj_contact_phoneemail,reporting_criteria___1,reporting_criteria___2,reporting_criteria___3,reporting_criteria___4,...,sp_ship_phl,sp_ship_notes,sp_sent_seq,sp_seq_facility,sp_seq_facility_other,sp_seq_send_date,sp_seq_outcome,sp_gisaid_id,sp_seq_notes,sp_specimen_roster_notes
33326,103362826,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33327,103362829,NaN,NaN,NaN,NaN,NaN,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Breaking dataframe into chunks

In [52]:
all_data.shape

(33328, 206)

In [88]:
n=3000
list_df = [all_data[i:i+n] for i in range(0,all_data.shape[0],n)]

In [91]:
records = 0
for i in list_df:
    print(i.shape[0])
    records += i.shape[0]
    
print(records)

3000
3000
3000
3000
3000
3000
3000
3000
3000
3000
3000
328
33328

# Next steps

 - Determine response after import call is made to API 
     - write response text confirming the number of records that were imported
     - write an exception if import did not go through
 - Determine the column headers in the the files to be imported - whats the difference between existing data